<div class="jumbotron">
    <h1>Tribal Wars</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <button id="test" class="btn btn-default">Test connection</button>
        <button id="start-game" class="btn btn-default">Start Game</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        Active <input type="text" id="active-connections" class="btn btn-default" />
        Successful<input type="text" id="successful-players" class="btn btn-default" />
    </div>
</div>
