<div class="jumbotron">
    <h1>Tribal Wars</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <button id="connect" class="btn btn-default">Connect</button>
        <button id="test" class="btn btn-default">Test connection</button>
        <button id="start-game" class="btn btn-default">Start Game</button>
        <button id="disconnect-all" class="btn btn-default">Disconnect All</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        Active: <p id="active-connections">0</p>
        Successful: <p type="text" id="successful-players">0</p>
    </div>
</div>
