<div class="jumbotron">
    <h1>Ritulette</h1>
    <p>
        Magic's in the hand
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <button id="start-game-admin" class="btn btn-default">Start Game as Admin</button>
        <button id="debug-mode" class="btn btn-default">Debug mode...</button>
        <div id="debug-tools" class="hidden">
            <button id="connect" class="btn btn-default">Connect</button>
            <button id="test" class="btn btn-default">Test connection</button>
            <button id="success" class="btn btn-default">Success</button>
            <button id="start-game" class="btn btn-default">Start Game</button>
            <button id="refresh-connection" class="btn btn-default">Refresh connections</button>
            <button id="disconnect-all" class="btn btn-default">Disconnect All</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 activity-monitor">
        <strong>Active Players</strong>: <span id="active-connections"> 0</span>
        <br />
        <strong>Succeeded Players</strong>: <span type="text" id="successful-players">0</span>
        <br />
        <strong>Time</strong>: <span id="timer">30</span>
    </div>
</div>
<div>
    <textarea class="form-control" rows="7" id="output"></textarea>
    <img id="gesture-0" class="gesture hidden" src="~/Content/Gestures/dishwashing.gif" title="id-0" />
    <img id="gesture-1" class="gesture hidden" src="~/Content/Gestures/mouthwashing.gif" title="id-1" />
    <img id="gesture-2" class="gesture hidden" src="~/Content/Gestures/turntablescratching.gif" title="id-2" />
    <img id="gesture-3" class="gesture hidden" src="~/Content/Gestures/swordsharpening.gif" title="id-3" />
</div>
